/*https://github.com/James-Bedford/css-drill.git */
body {
  font-family: "Lato", sans-serif;
  background-color: rgb(216, 209, 209);
}

h2,
p,
.readme-wrapper {
  color: rgb(16, 17, 17);
  text-align: center;
}
a {
  text-decoration: none;
  color: coral;
}
a:hover {
  font-style: italic;
  color: paleturquoise;
}

span {
  color: aliceblue;
  font-weight: 700;
}

.boxes {
  margin: 3rem 3rem 3rem 3rem;
  padding: 1rem 1rem 1rem 1rem;
  border: rgb(20, 16, 226) solid 2px;
  border-radius: 5%;
  width: 30em;

  display: block;
}
#box1 {
  background-color: rgb(230, 63, 63);
}
#box2 {
  background-color: rgb(256, 256, 6);
  /*position: absolute;
  left: 36rem;
  bottom: 40em; */
}
#box3 {
  background-color: rgb(25, 255, 255);
}
#box4 {
  background-color: rgb(300, 2, 266);
}
.photo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rebeccapurple;
}
